<div class="action-selected-container">
<h1>Bun venit, <%- user.username %>!</h1>
<h2>Acesta este panoul de administrare a platformei URZISOFT!</h2>
<a href="/"><button class="go-home-button">Go as guest!</button></a>
</div>