<footer>
    <div class="footer-container">
        <div class="subscribe-container">
            <h4>200,000 users registered since January 2015</h4>
            <p>We’ve created the product that will help your startup to look even better</p>
            <input type="text" placeholder="Your email" id="nav-search" name="emailsubscribe" required>
            <button id="blue-button">Subscribe</button>
        </div>
        <div class="subscribe-container">
            <h4>Menu</h4>
            <h5>Home</h5>
            <h5>Blog</h5>
            <h5>Sign In</h5>
            <h5>Register</h5>
        </div>
        <div class="subscribe-container">
            <h4>Top Categories</h4>
            <h5>Science</h5>
            <h5>Tehnology</h5>
            <h5>Animals</h5>
            <h5>Geography</h5>
        </div>
        <div class="subscribe-container">
            <h4>Folllow Us</h4>
            <div class="social-media">
                <box-icon type='logo' name='twitter' color="#FFFFFF"></box-icon>
                <box-icon name='facebook-circle' type='logo' color="#FFFFFF"></box-icon>
                <box-icon name='google' type='logo' color="#FFFFFF"></box-icon>
            </div>
        </div>
    </div>

    <div class="copyright-footer">
        <p>
            ©Copyright Adelin 2023 for URZISOFT
        </p>
    </div>
    <script src="/js/nav.js"></script>
    <script src="/js/add-comment.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <%-defineContent('scripts')%>
</footer>