<footer>
    <div class="copyright-footer">
        <p>
            ©Copyright Adelin 2023 for URZISOFT
        </p>
    </div>
    <script src="/js/nav.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <%-defineContent('scripts')%>
</footer>