<nav>
    <div class="search-input">
        <form action="/blog/search" method="POST">
        <input type="text" placeholder="Search" id="nav-search" name="searchinput" required>
        </form>
    </div>
    <div class="logo">
        <a href="/"><h1>URZISOFT</h1></a>
    </div>
        <div class="showmenu">
        <ul>
            <li><a href="/" id="firstLI">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/blog/search">Search</a></li>
        </ul>
    </div>
    <box-icon name='menu' color="whitesmoke" size="lg" id="meniu"></box-icon>
</nav>
