<nav>
    <div class="search-input">
        <form action="/blog/search" method="POST">
        <input type="text" placeholder="Search" id="nav-search" name="searchinput" required>
        </form>
    </div>
    <div class="logo">
        <a href="/"><h1>URZISOFT</h1></a>
    </div>
        <div class="showmenu">
        <ul>
            <li><a href="/" id="home-link" style="color: #25DAC4;">Home</a></li>
            <li><a href="/" id="team-link">Team</a></li>
            <li><a href="/blog" id="blog-link">BLOG</a></li>
            <li><a href="/blog/search" id="search-link">Search</a></li>
        </ul>
    </div>
    <box-icon name='menu' color="whitesmoke" size="lg" id="meniu"></box-icon>
</nav>
