<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/newpost.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/editpost.css">
    <link rel="stylesheet" href="/css/comments.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('../partials/adminMenu.ejs') %>
    <%- body %>
    <script src="https://cdn.tiny.cloud/1/7bc6cepa880nfgbf3mr4n2zevn23092i7nt5t06vh2r6k5zj/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
     <script>
       tinymce.init({
         selector: '#wysiwyg',
                  toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
       });
     </script>
</body>
</html>
