

<div class="articles-container">
    <h1>Articole URZISOFT:</h1>
    <% if(articles != null){ %>
        <% for(var i=0; i < articles.length; i++) {%>
        <div class="article">
            <div class="article-content">
            <h2><%= articles[i].title %></h2>
            <h3>Autor: <%= user[articles[i].user_id-1].username %></h3>
            <p><%= articles[i].content %></p>
            </div>
                <div class="tools-article">
                    <box-icon type='solid' name='comment' color="whitesmoke" id="add-comment"></box-icon>
                    <box-icon name='like' type='solid' color="whitesmoke"></box-icon>
                    <box-icon name='report' type='solid' color="whitesmoke" ></box-icon>
                </div>
        </div>
        <% } %>
                <%}else{%>
                    <p>No articles avaible!</p>
                <%}%>
</div>
