<div class="searchContainer">
    <form action="/blog/search" method="POST">
    <h1>Vrei sa-ti iei Mercedes la anu? Hai la Academy Josanu!</h1>
        <p>Aici gasesti cele mai interesante proiecte! Intra la sectiunea BLOG sau cauta articolul cautat folosind motorul de cautare:</p>
    <input type="text" id="searchBar" placeholder="Cauta un articol" name="searchinput" required>
    <button id="searchBtn" type="submit">Cauta!</button>
    </form>
</div>