<div class="loginContainer">
    <form id="formLogin" action="/register" method="POST"> 
    <h3>Nume de utilizator:</h3>
    <input type="text" name="username" autocomplete="off" required>

    <h3>Introdu adresa de mail:</h3>
    <input type="email" name="email" autocomplete="off" required>

    <h3>Introdu parola</h3>
    <input type="password" name="password" autocomplete="off" required>
    <br>

    <h3>Repeta parola</h3>
    <input type="password" name="password_repeat" autocomplete="off" required>
    <br>

    <button type="submit" name="submit" class="submit-button">Register</button>
    </form>
</div>