

<div class="articles-container">
    <div class="searchContainer" style="padding-top: 3rem;">
        <form action="/blog/search" method="POST">
        <h1>Cauta tot ce ai nevoie in articolele noastre!</h1>
        <input type="text" id="searchBar" placeholder="Cauta un articol" name="searchinput" required>
        <button id="searchBtn" type="submit">Cauta!</button>
        </form>
        <div class="article-content">
        </div>
    </div>
    <h1>Articole URZISOFT:</h1>
        <% for(var i=0; i < articles.length; i++) {%>
        <% if(articles[i].title.includes(search) || articles[i].content.includes(search)) { %>
        <div class="article">
            <div class="article-content">
                <h2><a href="/blog/post/<%=articles[i].id%>" style="font-size: 2.5rem;"><%= articles[i].title %></a></h2>
                <p><%= articles[i].content %></p>
            </div>
        </div>
                <%} }%>
</div>
