.articles-container{
margin-left: 10%;
margin-right: 10%;
}
.article{
    background: rgba(200,200,200,0.4);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.tools-article{
    display: flex;
    flex-direction: row-reverse;
}
.tools-article box-icon{
    margin-right: 2rem;
    cursor: pointer;
}
.comment-container{
    margin: 3rem 3rem 3rem 3rem;
    padding: 1rem;
    background: rgba(200,200,200,0.2);
    border-radius: 5px;
    border: rgba(0,0,0,0.6) solid 0.5px;
    display: none;
}
.comment-content{
    margin: 3rem 3rem 3rem 3rem;
    padding: 1rem;
    background-color: rgba(255,255,255,0.6);
    color: black;
    border-radius: 5px;
    border: rgba(0,0,0,0.6) solid 0.5px;
}
.comment-header button{
    font-size: 2rem;
    width: 50%;
    margin-left: 2rem;
    padding: 5px;
    border-radius: 10px;
    border: rgba(0,0,0,0.6) solid 0.5px;
    background-color: rgba(255,255,255,0.6);
}

.comment-header button:hover{
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
}
.add-comment-section{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    display: none;
}
.add-comment-section input{
    margin-left: 2rem;
    margin-top: 2rem;
    border: none;
    padding: 10px;
}
.add-comment-section button{
    margin-left: 2rem;
    margin-top: 2rem;
}
#comment-author{
    flex: 5;
    border-radius: 10px;
    font-size: 2rem;
    width: 80%;
    padding: 5px;
}
#comment-input{
    border-radius: 10px;
    width: 80%;
    height: 100px;
    font-size: 2rem;
}

