/* Search BAR */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');



.search-container{
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: -1px;
    color: #1E0E62;
    width: 45%;
    margin: auto;
}

.search-container input{
    margin-top: 2rem;
}
.search-container p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 35px;
    color: rgba(21, 20, 57, 0.4);
    mix-blend-mode: normal;
    opacity: 0.7;
    width: 60%;
    margin-top: 1rem;
}
.container{
    display: flex;
    flex-direction: row;
}
.container a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1E0E62;
    margin-top: 8rem;

}
.container button{
    color: #FFFFFF;
    background: #E93A7D;
    border-radius: 100px;
    padding: 20px;
    min-width: 170px;
    margin-right: 50px;
    border: none;
}
#search-bar{
    flex: 5;
    border-radius: 10px;
    margin-right: 1rem;
    height: 50px;
    width: 50%;
    padding: 5px;
}

/* Search Buttnon*/
#searchBtn{
    font-size: 2rem;
    background-color: rgba(163,185,206, 0.8);
    padding: 5px;
    border-radius: 10px;
    margin-left: 2rem;
    width: 30%;
}
#searchBtn:hover{
    /* background-color: rgba(45, 171, 65, 0.9); */
    background-color: rgba(163,185,206, 1);

}
@media only screen and (max-width: 768px){
    .searchContainer{
        margin-left: 10%;
        padding-top: 30%;
        max-width: 80%;
    }
    #searchBar{
        flex: 5;
        border-radius: 10px;
        font-size: 2rem;
        width: 80%;
        padding: 5px;
    }
    #searchBtn{
        font-size: 2rem;
        background-color: rgba(163,185,206, 0.8);
        padding: 5px;
        border-radius: 10px;
        width: 80%;
        margin: 1rem 0 0 0;
    }
}
@media only screen and (max-width: 795px){
    .container a{
        margin-top: 2rem;
    }
    .container{
        justify-content: space-evenly;
    }
    .content{
        text-align: center;
    }
    .search-container p{
        width: auto;
        text-align: center;
    }
  }

  @media only screen and (max-width: 1024px){
    .search-container{
        width: 80%;
    }
  }