@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Heebo:wght@100;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Baskerville', serif sans-serif;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    height: 810px;
    justify-content: space-between;
}
.header-image img{
    max-width: 585px;
    max-height: 810px;
}
textarea::placeholder{
    color: #222;
}
.left-container{
    font-family: 'DM Sans';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    color: #1E0E62;
    width: 45%;
    margin: auto;
}
.our-clients-content{
    background-color: #2F1893;
    margin: auto;
    padding: 2rem;

    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    letter-spacing: 2px;

    color: #FFFFFF;
}
.our-clients-content h3{
    max-width: 60%;
    margin: auto;
    margin-top: 2rem;
}
.our-clients-logo img{
    max-width: 200px;
    max-height: 50px;
    margin: auto;
    margin-bottom: 0.5rem;
}
.our-clients-logo{
    display: flex;
    margin: auto;
    margin-top: 1rem;
}
.features-section{
    background-color: #2F1893;
}
.features-content{
    text-align: center;
    padding: 3rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: -0.4px;

    color: #FFFFFF;
}
.features-content h1{
    margin-top: 5rem;
}
.features-content h4{
    max-width: 50%;
    margin: auto;
    margin-top: 2rem;
    opacity: 0.7;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}
.features-cards{
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.features-card{
    margin: auto;
    padding: 2rem;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    text-align: center;
    height: 460px;
    max-width: 370px;
}
.features-card h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2rem;
}

.features-card p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-top: 2rem;
    height: 130px;
}


.features-card button{
    margin-top: 1.5rem;
    min-width: 130px;
    min-height: 40px;
    background: #25DAC4;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
}
.features-card button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}
nav a{
    color: whitesmoke;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}
.row2{
    display: flex;
}
section{
    padding: 100px 0;
}

/* Hero SECTION */

.logo {
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: -1px;
    color: #1E0E62;
    margin: 0;

}


nav{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #2F1893;
    max-height: 7rem;
}
#nav-search{
    background-color: #2F1893;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
}
#nav-search::placeholder{
    color: rgba(255,255,255,0.3);
}
nav ul{
    list-style-type: none;
}
#meniu{
    display: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}
nav ul li a:hover{
    color: gray;
    transition: .5s ease-in-out;
}
.date-category{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    width: 50%;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.2rem;
}
.date-category h4{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
#year-article{
    margin: 0;
    font-family: 'Heebo';
    font-style: normal;
    padding: 5px;
    color: #FFFFFF;
    background: #E93A7D;
    border-radius: 16px;
    line-height: 22px;
    margin-right: 1rem;
    width: 62px;
    text-align: center;
}
hr{
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
}
.purple-container{
    background-color: #2F1893;
    display: flex;
    width: 100%;
}
.purple-article{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 2rem;
    font-family: 'DM Sans';
    font-style: normal;
    color: #FFFFFF;
}
.purple-article h1{
    margin-top: 1rem;
}
.purple-article p{
    margin-top: 1.5rem;
    opacity: 0.7;
}
.formular-section{
    width: 80%;
    margin: auto;
    display: flex;

    font-family: 'DM Sans';
    color: #1E0E62;
    font-size: 22px;

    padding-top: 3rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.formular-section hr{
    margin-top: 3rem;
}
.get-in-touch{
    margin-right: 2.5rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.4px;
}
.get-in-touch h4{
    margin-top: 3rem;
}
.contact{
    display: flex;
    margin-top: 1.5rem;
}
.formular-section p{
    font-size: 16px;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);
    mix-blend-mode: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.formular{
    margin-left: 2.5rem;
    text-align: center;
}
.formular h5{
    text-transform: uppercase;
    margin-top: 2rem;
}
.mail-container{
    text-align: left;
    background-color: #2F1893;
    padding: 2rem;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1rem;
}
.mail-container input{
    border-radius: 100px;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
#mail-input{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    padding: 10px;
    
}
#pink-button{
    color: #FFFFFF;
    background: #E93A7D;
    border-radius: 100px;
    padding: 20px;
    min-width: 170px;
    margin-right: 50px;
    border: none;
}
#blue-button{
        min-width: 130px;
        height: 40px;
        background: #25DAC4;
        border-radius: 100px;
        border: none;
        color: #FFFFFF;
        font-family: 'DM Sans';
        font-style: normal;
        margin-top: 0.5rem;
        margin-left: 1rem;
}
#blue-button:hover{
        cursor: pointer;
  }


footer{
    background-color: #2F1893;
    margin-top: auto;
    position: relative;
    width: 100%;
    bottom: 0;
}
.footer-container{
    display: flex;
    width: 90%;
    margin: auto;
    color: #FFFFFF;
    justify-content: space-between;
    font-family: 'DM Sans';
}
.subscribe-container{
    margin-top: 3rem;
}
.subscribe-container h4{
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 1.5rem;
}
.subscribe-container p{
    opacity: 0.7;
}
.subscribe-container h5{
    opacity: 0.7;
    margin-top: 1rem;
}
.subscribe-container input{
    margin-top: 2rem;
}
.social-media{
    display: flex;
    justify-content: space-between;
    min-width: 10%;
}
.copyright-footer{
    margin-top: 3rem;
    width: 100%;
    height: 50px;
    display: flex;
}

.copyright-footer p{
    color: white;
    font-weight: bold;
    width: 90%;
    margin: auto;
    opacity: 0.8;
}
@media only screen and (max-width: 1390px){
    .formular{
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 1024px){
    .header-image{
        display: none;
    }
    .search-container{
        width: 80%;
    }
    .our-clients-logo{
        flex-direction: column;
    }
    .our-clients-logo img {
        margin-top: 1rem;
        margin-bottom:  1rem;
    }
    .features-cards {
        flex-direction: column;
    }
    .features-card{
        max-width: 80%;
        margin-top: 2rem;
    }
    .footer-container{
        flex-direction: column;
    }
    .social-media {
        justify-content: space-evenly;
    }
  }
@media only screen and (max-width: 795px){
    #meniu{
        display: block;
        position: absolute;
    }
    #meniu:hover{
        cursor: pointer;
    }
    #nav-search{
        display: none;
    }   
    .logo {
        text-align: center;
    }
    nav{
        flex-direction: column;
        position: relative;
    }
    nav ul{
        background: #2F1893;
        color: #FFFFFF;
        text-align: center;
        display: none;
    }
    nav ul li{
        display: block;
        color: #FFFFFF;
        padding: 1rem;
    }
    nav ul li a{
        color: whitesmoke;
    }
    .purple-article{
        flex-direction: column;
        text-align: center;
    }
    #harta{
        width: 250px;
        height: 150px;
    }
    .get-in-touch{
        text-align: center;
    }
    .formular{
        margin: 0;
        margin-top: 3rem;
    }
    .features-content h4 {
       max-width: 100%;
    }
}
