<div class="login-body">
    <form action="/admin/password/request" method="POST"> 
    <h3>Introdu adresa de mail a contului:</h3>
    <input type="email" name="email" autocomplete="off" required>
    <button type="submit" id="blue-button">Reset password</button>
    </form>
    <a href="/admin/login"><button id="pink-button">Go back!</button></a>
</div>