<div class="login-body">
    <form action="/admin/password/update" method="POST"> 
        <h3>Introdu noua parola:</h3>
        <input type="password" name="password" autocomplete="off" required>
        <h3>Repeta noua parola:</h3>
        <input type="password" name="repassword" autocomplete="off" required>
        <input type="hidden" name="hashId" value="<%=hashId%>">
        <input type="hidden" name="userId" value="<%=userId%>">
        <br>
    <button type="submit" id="pink-button" style="margin-top: 2rem;">Set new password</button>
    </form>
</div>