
<div class="newpost-container">
    <form action="/admin/category/create" method="POST">

        <h2 class="create-article">Introdu numele categoriei:</h2>
        <input type="text" name="category" required autocomplete="off" placeholder="Categoria noua" id="comment-author">
        <button type="submit" class="go-home-button">Submit!</button>
    
    </form>    
</div>