        <div class="loginContainer">
            <form id="formLogin"> 
            <h3>Introdu adresa de mail:</h3>
            <input type="email" id="email" autocomplete="off" required>

            <h3>Introdu parola</h3>
            <input type="password" id=password" autocomplete="off" required>
            <br>
            <button type="submit" id="submitLogin">Login</button>
            </form>
        </div>