<div class="searchContainer">
    <h1>Vrei sa-ti iei Mercedes la anu? Hai la Academy Josanu!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quisquam sit ex! Iusto deleniti officiis quisquam, repellendus autem esse. Ut dicta repellat vero totam asperiores voluptate similique consectetur aliquid tenetur?</p>
    <input type="text" id="searchBar" placeholder="Cauta un articol" required>
    <button id="searchBtn">Cauta!</button>
</div>