
<div class="edit-post-container">
    <form action="/admin/users/edit/<%=users.id%>" method="POST">
        <h2 class="create-article">Modifica username:</h2>
        <input type="text" name="username" required autocomplete="off" id="comment-author" value="<%=users.username%>">
        <h2 class="create-article">Modifica email:</h2>
        <input type="text" name="email" required autocomplete="off" id="comment-input" value="<%=users.email%>">
        <div class="edit-article-admin-tools">
        <button type="submit" class="go-home-button">Submit!</button>
        <a href="/admin/users/">GO back</a>
        </div>
        <input type="hidden" name="userid" value="<%= user.id %>" required>
    </form>    
</div>