<div class="loginContainer">
    <form id="form-login" action="/admin/users/emergency" method="POST">
    <button type="submit" class="submit-button">Create emergency admin!</button>
    </form>
</div>